<div class="menu">
  <a [routerLink]="['/gettingStarted']"><h4>Getting Started</h4></a>
</div>
<div class="menu">
  <a [routerLink]="['/features']"><h4>Features</h4></a>
  <ul class="nav">
    <li><a [routerLink]="['/features/modalGallery']">ModalGallery</a></li>
    <li><a [routerLink]="['/features/globalConfig']">Global configuration</a></li>
  </ul>
</div>
<div class="menu">
  <a [routerLink]="['/migration']"><h4>Migration guide</h4></a>
</div>
<div class="menu">
  <a [routerLink]="['/demo']"><h4>Demo</h4></a>
  <ul class="nav">
    <li><a [routerLink]="['/demo/array-simple']">Array (simple)</a></li>
    <li><a [routerLink]="['/demo/observable-simple']">Observable (simple)</a></li>
    <li><a [routerLink]="['/demo/download-simple']">Download simple</a></li>
    <li><a [routerLink]="['/demo/download-advanced']">Download advanced</a></li>
    <li><a [routerLink]="['/demo/exturl-simple']">ExternalURL simple</a></li>
    <li><a [routerLink]="['/demo/output-events']">Output Events</a></li>
    <li><a [routerLink]="['/demo/observable-advanced']">Observable (advanced)</a></li>
    <li><a [routerLink]="['/demo/add-image-array']">Add image Array</a></li>
    <li><a [routerLink]="['/demo/add-image-observable']">Add image Observable</a></li>
    <li><a [routerLink]="['/demo/description-custom']">Description custom</a></li>
    <li><a [routerLink]="['/demo/description-full-custom']">Description full custom</a></li>
    <li><a [routerLink]="['/demo/array-pointer']">Array image pointer</a></li>
    <li><a [routerLink]="['/demo/observable-pointer']">Observable image pointer</a></li>
    <li><a [routerLink]="['/demo/close-outside']">Close outside</a></li>
    <li><a [routerLink]="['/demo/buttons-config']">Buttons config</a></li>
    <li><a [routerLink]="['/demo/keyboard-config']">Keyboard config</a></li>
    <li><a [routerLink]="['/demo/no-infinite-sliding']">No infinite sliding</a></li>
  </ul>
</div>
<br>
<br>