<p><a [routerLink]="['/gettingStarted']">Getting Started</a></p>
<p><a [routerLink]="['/features']">Features</a></p>
<ul>
  <li><a [routerLink]="['/features/modalGallery']">modalGallery</a></li>
</ul>
<p><a [routerLink]="['/demo']">Demo</a></p>
<ul>
  <li><a [routerLink]="['/demo/array-simple']">Array (simple)</a></li>
  <li><a [routerLink]="['/demo/observable-simple']">Observable (simple)</a></li>
  <li><a [routerLink]="['/demo/download-simple']">Download simple</a></li>
  <li><a [routerLink]="['/demo/download-advanced']">Download advanced</a></li>
  <li><a [routerLink]="['/demo/exturl-simple']">ExternalURL simple</a></li>
</ul>