<div class="container">

  <a href="#"><u class="text-success"><h1 class="text-success">Observable with image pointer</h1></u></a>
  <p>Minimal modal gallery with <b class="text-success">image pointer and Observable</b>.</p>
  <br>

  <h2>Live Demo <small>(Delay of 300ms)</small></h2>
  <br>
  <div *ngFor="let img of images | async; let i = index">
    <div class="float-left" *ngIf="i <= 2">
      <a class="more" *ngIf="i==2" (click)="openImageModalObservable(img)"> +{{(images | async)?.length - 3}}
        more </a>
      <img *ngIf="img.thumb" class="list-img" src="{{img.thumb}}" (click)="openImageModalObservable(img)" alt='{{img.description}}'/>
      <img *ngIf="!img.thumb" class="list-img" src="{{img.img}}" (click)="openImageModalObservable(img)" alt='{{img.description}}'/>
    </div>
  </div>
  <div *ngIf="openModalWindowObservable">
    <modal-gallery [modalImages]="images"
                   [imagePointer]="imagePointerObservable"
                   (close)="onCloseImageModal($event)"></modal-gallery>
  </div>

  <br><br><br><br>
  <h5>Live demo results</h5>
  <table class="table table-hover table-sm">
    <thead>
    <tr>
      <th>ImagePointer</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><code>[imagePointer]</code></td>
      <td>
        <div>{{imagePointer}}</div>
      </td>
    </tr>
    </tbody>
  </table>

  <br>

  <section>
    <h2>Code</h2>
    <br>

    <h5>Template</h5>
    <codemirror [(ngModel)]="codeHtml" [config]="config">
    </codemirror>
    <br>
    <h5>Typescript</h5>
    <codemirror [(ngModel)]="codeTypescript" [config]="config">
    </codemirror>

  </section>

  <br><br>
  <section>
    <h2>Details</h2>
    <br>
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Input (.html)</th>
          <th>Value (.ts)</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>[modalImages]</code>="var"</td>
          <td>
            <div><code>Observable&lt;Array&lt;Image&gt;&gt;</code></div>
          </td>
          <td><b class="text-success">Observable of an Array of <code>Image</code> objects</b></td>
        </tr>
        <tr>
          <td><code>[imagePointer]</code>="var"</td>
          <td>
            <div><code>undefined</code></div>
          </td>
          <td>It will display the entire gallery</td>
        </tr>
        <tr>
          <td><code>[downloadable]</code>="var"</td>
          <td>
            <div><code>undefined</code></div>
            <div>(<code>false</code> by default)</div>
          </td>
          <td>Not downloadable at all</td>
        </tr>
        <tr>
          <td><code>[description]</code>="var"</td>
          <td>
            <div><code>undefined</code></div>
          </td>
          <td>It will use the default description</td>
        </tr>
        <tr>
          <td><code>[showDownloadButton]</code>="var"</td>
          <td>
            <div><code>undefined</code></div>
            <div>(<code>false</code> by default)</div>
          </td>
          <td>Download button is <span class="text-danger">hidden</span></td>
        </tr>
        <tr>
          <td><code>[showExtUrlButton]</code>="var"</td>
          <td>
            <div><code>undefined</code></div>
            <div>(<code>false</code> by default)</div>
          </td>
          <td>External url button is <span class="text-danger">hidden</span></td>
        </tr>
      </tbody>
    </table>

    <br>

    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Output (.html)</th>
          <th>Return (.ts)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>(close)</code>="funct($event)"</td>
          <td>funct(e: <code>ImageModalEvent</code>)</td>
        </tr>
        <tr>
          <td><code>(show)</code>="funct($event)"</td>
          <td>funct(e: <code>ImageModalEvent</code>)</td>
        </tr>
        <tr>
          <td><code>(firstImage)</code>="funct($event)"</td>
          <td>funct(e: <code>ImageModalEvent</code>)</td>
        </tr>
        <tr>
          <td><code>(lastImage)</code>="funct($event)"</td>
          <td>funct(e: <code>ImageModalEvent</code>)</td>
        </tr>
        <tr>
          <td><code>(hasData)</code>="funct($event)"</td>
          <td>funct(e: <code>ImageModalEvent</code>)</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>