<div class="container">

  <a href="https://github.com/Ks89/angular-modal-gallery/tree/master/src"><u class="text-success"><h1 class="text-success">Observable with image pointer</h1></u></a>
  <p>Minimal modal gallery with <b class="text-success">image pointer and Observable</b>.</p>
  <p><b class="text-warning">I want to rewrite this feature in the next major release (still unscheduled, but probably at the end of 2017).</b></p>
  <br>

  <h2>Live Demo <small>(Delay of 300ms)</small></h2>
  <br>
  <div *ngFor="let img of images | async; let i = index">
    <div class="float-left" *ngIf="i <= 2">
      <a class="more" *ngIf="i==2" (click)="openImageModalObservable(img)"> +{{(images | async)?.length - 3}}
        more </a>
      <img *ngIf="img.thumb" class="list-img" src="{{img.thumb}}" (click)="openImageModalObservable(img)" alt='{{img.description}}'/>
      <img *ngIf="!img.thumb" class="list-img" src="{{img.img}}" (click)="openImageModalObservable(img)" alt='{{img.description}}'/>
    </div>
  </div>
  <div *ngIf="openModalWindowObservable">
    <modal-gallery [modalImages]="images"
                   [imagePointer]="imagePointerObservable"
                   (close)="onCloseImageModal($event)"></modal-gallery>
  </div>

  <br><br><br><br>
  <h5>Live demo results</h5>
  <table class="table table-hover table-sm">
    <thead>
    <tr>
      <th>Input (.html)</th>
      <th>Value (.ts)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><code>imagePointer</code></td>
      <td>
        <div>{{imagePointerObservable}}</div>
      </td>
    </tr>
    </tbody>
  </table>

  <br>

  <section>
    <h2>Code</h2>
    <br>

    <h5>Template</h5>
    <codemirror [(ngModel)]="codeHtml" [config]="config">
    </codemirror>
    <br>
    <h5>Typescript</h5>
    <codemirror [(ngModel)]="codeTypescript" [config]="config">
    </codemirror>

  </section>

  <br><br>
  <section>
    <h2>Details</h2>
    <br>
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Input (.html)</th>
          <th>Value (.ts)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>modalImages</code></td>
          <td>
            <div><i>Value: </i><code>Observable&lt; Image[] &gt;</code></div>
            <div><b class="text-success">Observable of an Array of <code>Image</code> objects</b></div>
          </td>
        </tr>
        <tr>
          <td><code>imagePointer</code></td>
          <td>
            <div><i>Value: </i><code>number</code></div>
            <div>Its value is equal to the index of the clicked thumb</div>
          </td>
        </tr>
        <tr>
          <td><code>downloadable</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div>(<code>false</code> by default)</div>
            <div>Not downloadable at all</div>
          </td>
        </tr>
        <tr>
          <td><code>description</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div>It will use the default description</div>
          </td>
        </tr>
        <tr>
          <td><code>showDownloadButton</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div>(<code>false</code> by default)</div>
            <div>Download button is <span class="text-danger">hidden</span></div>
          </td>
        </tr>
        <tr>
          <td><code>showExtUrlButton</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div>(<code>false</code> by default)</div>
            <div>External url button is <span class="text-danger">hidden</span></div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>