<nav class="navbar fixed-top navbar-toggleable-md navbar-light navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a pageScroll href="#home" class="navbar-brand" [routerLink]="['/']">angular-modal-gallery</a>

  <div class="collapse navbar-collapse" id="exCollapsingNavbar2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a pageScroll href="#gettingStarted" class="nav-link" [ngClass]="isNavItemActive('/gettingStarted')" [routerLink]="['/gettingStarted']">Getting
          started <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a pageScroll href="#features" class="nav-link" [ngClass]="isNavItemActive('/features')" [routerLink]="['/features']">Features</a>
      </li>
      <li class="nav-item">
        <a pageScroll href="#migration" class="nav-link" [ngClass]="isNavItemActive('/migration')" [routerLink]="['/migration']">Migration guide</a>
      </li>
      <li class="nav-item">
        <a pageScroll href="#demo" class="nav-link" [ngClass]="isNavItemActive('/demo')" [routerLink]="['/demo']">Demo</a>
      </li>
    </ul>

    <span class="form-inline my-2 my-lg-0">
      <!-- Built with https://buttons.github.io -->
      <iframe class="mr-sm-2" allowtransparency="true" scrolling="no" frameborder="0"
              style="width: 160px; height: 28px; border: none;"
              src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2FKs89&data-text=Follow%20%40Ks89&data-size=large&data-show-count=true&aria-label=Follow%20%40Ks89%20on%20GitHub"></iframe>
      <iframe class="mr-sm-2" allowtransparency="true" scrolling="no" frameborder="0"
              style="width: 98px; height: 28px; border: none;"
              src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2FKs89%2Fangular-modal-gallery&data-text=Star&data-size=large&data-show-count=true&aria-label=Star%20Ks89%2Fangular-modal-gallery%20on%20GitHub"></iframe>
      <iframe class="my-2 my-sm-0" allowtransparency="true" scrolling="no" frameborder="0"
              style="width: 102px; height: 28px; border: none;"
              src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2FKs89%2Fangular-modal-gallery%2Ffork&data-text=Fork&data-size=large&data-show-count=true&aria-label=Fork%20Ks89%2Fangular-modal-gallery%20on%20GitHub"></iframe>
      <iframe class="mr-sm-2" allowtransparency="true" scrolling="no" frameborder="0"
              style="width: 108px; height: 28px; border: none;"
              src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2FKs89%2Fangular-modal-gallery%2Fsubscription&data-text=Watch&data-size=large&data-show-count=true&aria-label=Watch%20Ks89%2Fangular-modal-gallery%20on%20GitHub"></iframe>
    </span>
  </div>
</nav>