<nav class="navbar fixed-top navbar-toggleable-md navbar-light navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand m-b-0" [routerLink]="['/']" href="#">angular-modal-gallery</a>
  <div class="collapse navbar-collapse" id="exCollapsingNavbar2">
    <div class="navbar-nav">
      <a class="nav-item nav-link {{isNavItemActive('/gettingStarted')}}" [routerLink]="['/gettingStarted']">Getting
        started <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link {{isNavItemActive('/features')}}" [routerLink]="['/features']">Features</a>
      <a class="nav-item nav-link {{isNavItemActive('/demo')}}" [routerLink]="['/demo']">Demo</a>

      <a class="nav-item">
        <iframe allowtransparency="true" scrolling="no" frameborder="0" style="width: 98px; height: 28px; border: none;" src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2FKs89%2Fangular-modal-gallery&text=Star&data-count-api=%2Frepos%2FKs89%2Fangular-modal-gallery%23stargazers_count&data-count-href=%2FKs89%2Fangular-modal-gallery%2Fstargazers&data-count-aria-label=%23%20stargazers%20on%20GitHub&data-style=mega&data-icon=&aria-label=Star%20Ks89%2Fangular-modal-gallery%20on%20GitHub"></iframe>
        <iframe allowtransparency="true" scrolling="no" frameborder="0" style="width: 98px; height: 28px; border: none;" src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2FKs89%2Fangular-modal-gallery%2Ffork&text=Fork&data-count-api=%2Frepos%2FKs89%2Fangular-modal-gallery%23forks_count&data-count-href=%2FKs89%2Fangular-modal-gallery%2Fnetwork&data-count-aria-label=%23%20forks%20on%20GitHub&data-style=mega&data-icon=&aria-label=Fork%20Ks89%2Fangular-modal-gallery%20on%20GitHub"></iframe>
      </a>

    </div>
  </div>
</nav>