<!DOCTYPE html>
<html>
    <head>
        <title><%= htmlWebpackPlugin.options.title %></title>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <% if (webpackConfig.htmlElements.headTags) { %>
        <!-- Configured Head Tags  -->
        <%= webpackConfig.htmlElements.headTags %>
        <% } %>

        <style>
            .progress-loading {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        </style>

        <!-- Third-party css/scss imports are both in src/app/app.module and src/styles/ -->

        <base href="<%= htmlWebpackPlugin.options.baseHref %>">
    </head>
    <body>
        <br>
        <!-- Include application here -->
        <mmw-application>
            <img src="assets/ring.svg" class="progress-loading"></div>
        </mmw-application>

        <!-- Libraries will be included here automatically by Webpack-->

    </body>
</html>
