<!DOCTYPE html>
<html>
    <head>
        <title><%= htmlWebpackPlugin.options.title %></title>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Workaround to host a SPA on Github Pages. Taken from
            http://www.backalleycoder.com/2016/05/13/sghpa-the-single-page-app-hack-for-github-pages/ -->
        <!-- ---------------------------------------------- -->
        <!-- Mandatory to release this app on Github pages without issues -->
        <script>
          (function(){
            var redirect = sessionStorage.redirect;
            delete sessionStorage.redirect;
            if (redirect && redirect != location.href) {
              history.replaceState(null, null, redirect);
            }
          })();
        </script>
        <!-- ---------------------------------------------- -->

        <% if (webpackConfig.htmlElements.headTags) { %>
        <!-- Configured Head Tags  -->
        <%= webpackConfig.htmlElements.headTags %>
        <% } %>

        <!-- Third-party CSS/SCSS imports are both in src/app/app.module and src/styles/ -->
        <!-- CSS/SCSS will be added here by Webpack -->

        <base href="<%= htmlWebpackPlugin.options.baseHref %>">
    </head>
    <body>
        <br>
        <!-- Include application here -->
        <mmw-application>
            <img style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto;" src="/assets/ring.svg"/>
        </mmw-application>

        <!-- Scripts will be added here by Webpack-->
        <%= htmlWebpackPlugin.files.webpackManifest %>

    </body>
</html>
