<div class="jumbotron jumbotron-fluid intro-header">
  <div class="container text-center">
    <img src="{{path}}"/>
    <h1 class="display-3 white">angular-modal-gallery</h1>
    <p class="lead">Modal image gallery for Angular >=2</p>
    <br>
    <a pageScroll href="#demo" class="btn btn-outline-success" role="button" [routerLink]="['/demo']">Demo</a> <a pageScroll href="#gettingStarted" class="btn btn-outline-success" role="button" [routerLink]="['/gettingStarted']">Installation
    instruction</a>
    <br>
    <br>
    <p class="lead">Currently v3.2.1</p>
  </div>
</div>